/* background inage */

.main-header {
    /* background-image: url(../img/background2.jpg); */
    background-size: cover;
    background-position: center;
    min-height: 700px;
    color: white;
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease-in infinite;
}

.main-nav {
    background: #FC466B !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B) i !mportant;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 1% !important;
    animation: BackgroundGradientnav 10s ease-in infinite;
}

.main-header > .hero {
    padding-top: 100px;
}

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-google-plus-g:hover {
    color: #DD5144;

}

.fa-twitter:hover {
    color: #55ADEE;

}

.fa-instagram:hover {
    color: #FE3C47;
}

.fa-linkedin :hover {
    color: #3B5998;
}

.fa-html5:hover {
    color: #E44D26;
}

.fa-css3-alt:hover {
    color: blue;
}

.fa-js:hover {
    color: #F8DB3F;
}

.fa-free-code-camp :hover {
    color: green;
}

.fa-codepen :hover {
    color: deepskyblue;
}

.btn-floating {
    z-index: -1;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes BackgroundGradientnav {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
